@import 'theme/typography';

// Typography utility classes
h1,
.h1 {
    font-size: $font-size-h1;
    font-weight: $font-weight-bold;
    line-height: $line-height-tight;
    color: $text-primary;
    margin-bottom: $spacing-3;
}

h2,
.h2 {
    font-size: $font-size-h2;
    font-weight: $font-weight-semibold;
    line-height: $line-height-tight;
    color: $text-primary;
    margin-bottom: $spacing-3;
}

h3,
.h3 {
    font-size: $font-size-h3;
    font-weight: $font-weight-semibold;
    line-height: $line-height-normal;
    color: $text-primary;
    margin-bottom: $spacing-2;
}

h4,
.h4 {
    font-size: $font-size-h4;
    font-weight: $font-weight-medium;
    line-height: $line-height-normal;
    color: $text-primary;
    margin-bottom: $spacing-2;
}

h5,
.h5 {
    font-size: $font-size-h5;
    font-weight: $font-weight-medium;
    line-height: $line-height-normal;
    color: $text-primary;
    margin-bottom: $spacing-2;
}

h6,
.h6 {
    font-size: $font-size-h6;
    font-weight: $font-weight-medium;
    line-height: $line-height-normal;
    color: $text-secondary;
    margin-bottom: $spacing-2;
}

p {
    font-size: $font-size-base;
    line-height: $line-height-relaxed;
    color: $text-secondary;
    margin-bottom: $spacing-3;
}

.text-sm {
    font-size: $font-size-sm;
}

.text-xs {
    font-size: $font-size-xs;
}

.text-lg {
    font-size: $font-size-lg;
}

.text-xl {
    font-size: $font-size-xl;
}

.font-light {
    font-weight: $font-weight-light;
}

.font-normal {
    font-weight: $font-weight-regular;
}

.font-medium {
    font-weight: $font-weight-medium;
}

.font-semibold {
    font-weight: $font-weight-semibold;
}

.font-bold {
    font-weight: $font-weight-bold;
}