// Theme index - import structural theme modules (legacy-friendly)
@import './colors';
@import './typography';
@import './spacing';
@import './shadows';
@import './borders';
@import './mixins';
@import './components/index';